We Are Working On the "Global House Purchase Decision" dataset Today.

Let's import the libraries we require to work first

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

01. Let's Import the data and check the first 10 rows with property id being the index.

In [25]:
df = pd.read_csv('C:\\Gloab-house-purchase\\Data\\global_house_purchase_dataset.csv',index_col='property_id')
df.head()

,country,city,property_type,furnishing_status,property_size_sqft,price,constructed_year,previous_owners,rooms,bathrooms,...,customer_salary,loan_amount,loan_tenure_years,monthly_expenses,down_payment,emi_to_income_ratio,satisfaction_score,neighbourhood_rating,connectivity_score,decision
property_id,,,,,,,,,,,,,,,,,,,,,
1,France,Marseille,Farmhouse,Semi-Furnished,991,412935,1989,6,6,2,...,10745,193949,15,6545,218986,0.16,1,5,6,0
2,South Africa,Cape Town,Apartment,Semi-Furnished,1244,224538,1990,4,8,8,...,16970,181465,20,8605,43073,0.08,9,1,2,0
3,South Africa,Johannesburg,Farmhouse,Semi-Furnished,4152,745104,2019,5,2,1,...,21914,307953,30,2510,437151,0.09,6,8,1,0
4,Germany,Frankfurt,Farmhouse,Semi-Furnished,3714,1110959,2008,1,3,3,...,17980,674720,15,8805,436239,0.33,2,6,6,0
5,South Africa,Johannesburg,Townhouse,Fully-Furnished,531,99041,2007,6,3,3,...,17676,65833,25,8965,33208,0.03,3,3,4,0



- **property_size_sqft** â†’ Size of the property in square feet.  
- **price** â†’ Market price of the property in local currency
- **constructed_year** â†’ Year in which the property was constructed.  
- **previous_owners** â†’ Number of previous owners the property has had.  
- **rooms** â†’ Total number of rooms in the property.  
- **bathrooms** â†’ Number of bathrooms available in the property.  
- **garage** â†’ Indicates if a garage is present (e.g., 1 = Yes, 0 = No).  
- **garden** â†’ Indicates if a garden is present (e.g., 1 = Yes, 0 = No).  
- **crime_cases_reported** â†’ Number of crime cases reported in the neighborhood.  
- **legal_cases_on_property** â†’ Number of legal disputes or cases associated with the property.  
- **customer_salary** â†’ Monthly salary of the potential customer (buyer).  
- **loan_amount** â†’ Amount of loan taken or requested for purchase.  
- **loan_tenure_years** â†’ Duration of the loan in years.  
- **monthly_expenses** â†’ Monthly expenses of the customer (excluding EMI).  
- **down_payment** â†’ Down payment made by the customer.  
- **emi_to_income_ratio** â†’ Ratio of EMI to the customerâ€™s income (helps assess affordability).  
- **satisfaction_score** â†’ Customerâ€™s satisfaction score for the property (rating scale of 1-10).  
- **neighbourhood_rating** â†’ Rating of the neighborhood where the property is located. (1-10) 
- **connectivity_score** â†’ Score indicating how well-connected the property is (transport, amenities, etc.). (1-10) 
- **decision** â†’ Target column: purchase decision made by the customer (0 = Not Purchased, 1 = Purchased).

2. Let's check how many missing values each column has

In [ ]:
missing_values = df.isna().sum()
print("Total missing values in columns:")
print(missing_values)

Total missing values in columns:
country                    0
city                       0
property_type              0
furnishing_status          0
property_size_sqft         0
price                      0
constructed_year           0
previous_owners            0
rooms                      0
bathrooms                  0
garage                     0
garden                     0
crime_cases_reported       0
legal_cases_on_property    0
customer_salary            0
loan_amount                0
loan_tenure_years          0
monthly_expenses           0
down_payment               0
emi_to_income_ratio        0
satisfaction_score         0
neighbourhood_rating       0
connectivity_score         0
decision                   0
dtype: int64

3. Get the aggregations of the numeric columns rounded to 2 decimal places

In [ ]:
aggr = df.describe().round(2)
aggr


Explanation of the statistics:
- count: how many values are present in the column (ignoring missing values).
- mean: the average value.
- std: the spread of the values (standard deviation).
- min: the smallest value.
- 25%: the value at which 25% of the data lies below it (1st quartile).
- 50%: the middle value (median).
- 75%: the value at which 75% of the data lies below it (3rd quartile).
- max: the largest value.

4.  **property_age** â†’ Age of the property in years, calculated as `(2024 - constructed_year)`.

In [28]:
df['property_age'] = 2024 - df['constructed_year']

5. Local prices vary by currency, making global comparison difficult.  
We are going to convert all prices to USD using 2024 exchange rates to ensure consistency, comparability, and a common baseline across countries.  
*Exchange rates are sourced from the Bank of Finland (Suomen Pankki) for most countries.  
For Japan (JPY) and UAE (AED), rates are taken from Exchange-Rates.org (2024 averages).*

In [ ]:

exchange_rates = {
    'France': 1.08,
    'South Africa': 0.05,
    'Germany': 1.08,
    'Canada': 1.48,
    'Brazil': 0.171,
    'Australia': 1.639,
    'UK': 1.1819,
    'USA': 1.0,
    'China': 0.1284,
    'Singapore': 1.4458,
    'India': 0.01104,
    'Japan': 0.006610,
    'UAE': 0.2723
}

df['price_usd'] = (df['price'] * df['country'].map(exchange_rates)).round(2)